@charset "UTF-8";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    min-width: 1280px;
    font-family: sans-serif;
}
.inner { 
    width: 1200px;
    margin: 0 auto;
}
h1 {
    font-size: 70px;
    font-weight: 400;
    margin: 77px 0 40px 0;
    color: #2d2d2d;
}
h2 {
    margin: 50px 0 0 0;
    font-size: 30px;
    font-weight: 400;
    color: #3d3d3d;
}
p {
    font-size: 15px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    margin: 15px 45px 15px 45px;
    color: #666;

}
p.p01 {
    letter-spacing: -0.1em;
    margin: 15px 0 0 0;
}
p.p01:last-of-type {
    margin: 0 0 75px 0;
}
section.sec02 {
    background: url(/imges/칠성배경.png) 50% 0px no-repeat;
    background-size: 100% auto;
}
.group {
    display: flex;
    flex-direction: row;
}
section.sec02 .inner h2{
    padding-top: 124px;
    line-height: 1.16;
    color: #fff;
    margin: 0 0 50px 0 ;
}
section.sec02 .inner .group {
    width: 100%;
}
section.sec02 .inner .group .box {
    width: 33.333%;
}
section.sec02 .inner .group .box.two {
    margin: 100px 0 0 0;
}
section.sec02 .inner .group .box.three {
    margin: 50px 0 0 0;

}
section.sec02 .inner .group .box h3.title {
    font-size: 35px;
    font-weight: 400;
    margin: 45px 45px 13px;
    color: #2d2d2d;

}
section.sec02 .inner .group .box h4.subTitle {
    font-size: 20px;
    font-weight: 600;
    margin: 0 45px;
    letter-spacing: -0.1em;
    color: #666;
}
section.sec02 .inner .group .box .bg {
    width: 400px;
    height: 350px;

}
section.sec02 .inner .group .box.one .bg {
    background: url(/imges/모히또.png) 50% 50% no-repeat;
}
section.sec02 .inner .group .box.two .bg {
    background: url(/imges/불사진.png) 50% 50% no-repeat;
}
section.sec02 .inner .group .box.three .bg {
    background: url(/imges/시스템사진.png) 50% 50% no-repeat;
}



